@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow:
    0 0 5px #39FFBE,
    0 0 10px #39FFBE,
    0 0 20px #39FFBE,
    0 0 40px #39FFBE;
}

.neon-text-blue {
  text-shadow:
    0 0 5px #437EFF,
    0 0 10px #437EFF,
    0 0 20px #437EFF,
    0 0 40px #437EFF;
}

.neon-text-purple {
  text-shadow:
    0 0 5px #9b5de5,
    0 0 10px #9b5de5,
    0 0 20px #9b5de5,
    0 0 40px #9b5de5;
}

.neon-text-yellow {
  text-shadow:
    0 0 5px #ffd166,
    0 0 10px #ffd166,
    0 0 20px #ffd166,
    0 0 40px #ffd166;
}
